/* Courses template in all sections and the tabs section*/
.courses h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}
.courses h3 {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 8px 0 0 0;
}
#tabs-headers {
  overflow-x: auto;
  display: flex;
}

.tab {
  display: inline-flex;
  color: #6a6f73;
  padding: 8px 4px 8px 0;
  margin: 4px 12px 4px 0;
  cursor: pointer;
  font-weight: bolder;
  font-size: large;
}
.tab:hover {
  color: #1c1d1f;
}
.active-tab {
  color: #1c1d1f;
  cursor: default;
}

.courses-frame {
  border: 1px solid #d1d7dc;
  padding: 32px;
}
.courses-frame h2 {
  font-weight: bolder;
  margin: 0;
  margin-bottom: 8px;
}
.courses-frame p {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 800px;
  line-height: 25px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0;
  margin-bottom: 16px;
}

.explore-btn {
  background-color: transparent;
  border: 1px solid #1c1d1f;
  padding: 0 12px;
  margin: 0;
  margin-bottom: 32px;
  height: 40px;
  color: #1c1d1f;
  cursor: pointer;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
}

.explore-btn:hover {
  background-color: #f5f5f5;
}

.courses-previews-container {
  display: flex;
  flex-wrap: wrap;
}
.course-template {
  flex: 23%;
  max-width: 23%;
  color: #808488;
  font-size: 12px;
  cursor: pointer;
  margin-right: 12px;
  margin-bottom: 12px;
  display: inline-block;
}
.course-template img {
  max-width: 100%;
}
.course-template h4,
.course-template h2 {
  margin: 0px 0 4px 0;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #1c1d1f;
  font-size: medium;
}

.rating {
  color: #e59819;
  display: inline-block;
  margin-bottom: 4px;
  font-weight: bolder;
}
.author {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: #808488;
}
.carousel-control-prev {
  opacity: 1;
  left: -38px;
  margin-left: 8px;
  width: auto;
  display: block;
}

.carousel-control-next,
.carousel-control-prev {
  width: auto;
  height: 50px;
  margin: auto;
}
.carousel-control-prev-icon {
  background-color: #1c1d1f;
  border-radius: 8px;
}
.carousel-control-next-icon {
  background-color: #1c1d1f;
  border-radius: 8px;
}
.carousel-item.active {
  width: 95%;
  margin-right: 0;
  margin-left: 4%;
}

.carousel-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .explore-btn,
  .courses-frame p,
  .courses-frame h2 {
    display: none;
  }

  .course-description {
    display: inline-block;
  }

  .course-template img {
    margin-bottom: 8px;
    margin-right: 12px;
    display: inline-block;
    max-width: 200px;
    max-height: 200px;
    width: 100%;
  }
  .course-template {
    flex: 100%;
    max-width: 100%;
    margin-bottom: 8px;
    display: flex;
  }

  .course-template h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  .courses > h1,
  .courses > h3 {
    display: none;
  }
  .courses {
    margin-top: 0;
  }
}
