* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
/* Navigation Bar Style */
.nav-bar {
  width: 100%;
  box-shadow: 2px 5px 5px rgba(129, 128, 128, 0.2);
  padding: 0 1rem;
  display: flex;
  height: 4.5rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

.logo {
  width: 8vw;
  min-width: 75px;
  margin: 2px 8px 2px 2px;
}
.logo img {
  width: 100%;
}
.nav-bar a {
  text-decoration: none;
  color: black;
  padding: 0 12px;
  cursor: pointer;
}
.nav-bar a:hover {
  color: #9d24d0;
}

.teach-link {
  min-width: 134px;
}
.search-bar-form {
  flex: 30%;
  max-width: 30%;
  height: 65%;
}
.search-bar {
  width: 80%;
  height: 100%;
  background-color: #f7f9fa;
  color: #b3b4b5;
  border: 1px solid black;
  border-radius: 26px;
  padding: 12px;
  padding-left: 18px;
  display: inline-flex;
  align-items: center;
}
.search-bar input {
  width: 90%;
  border: 0;
  text-overflow: ellipsis;
  background-color: #f7f9fa;
  align-self: center;
  margin: auto;
}
.search-bar input:focus {
  outline: none;
}

.search-bar-form button[type="submit"] {
  border: none;
  background-color: transparent;
  width: 15%;
  padding: 0;
  font-size: 14px;
  cursor: pointer;
}
.search-bar-form button[type="submit"]:hover {
  color: #9d24d0;
}
.fa-shopping-cart {
  margin: 0 8px;
  width: 48px;
  padding: 0 12px;
  cursor: pointer;
}
.fa-shopping-cart:hover {
  color: #9d24d0;
}
.buttons-container {
  display: inline-flex;
  height: 100%;
  align-items: center;
}
.navbar-button {
  min-width: 80px;
  margin-left: 0.4rem;
  font-weight: 700;
  padding: 0 0.8rem;
  justify-content: center;
  height: 50%;
  cursor: pointer;
  font-size: 0.85rem;
  border: 1px solid #1c1d1f;
  background-color: transparent;
  color: #1c1d1f;
}
.navbar-button:hover {
  background-color: #f5f5f5;
}
.signup-btn {
  background-color: #1c1d1f;
  color: white;
  border: 0;
}
.signup-btn:hover {
  background-color: #1c1d1f;
}
.globe-btn {
  min-width: 40px;
  font-size: 1rem;
}
.side-menu {
  display: none;
}
.mobile-icons {
  display: none;
}

@media screen and (max-width: 960px) {
  .teach-link {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .side-menu {
    display: inline-flex;
  }
  .logo {
    margin: auto;
  }
  .search-bar-form,
  .nav-bar a,
  .nav-bar button,
  .nav-bar > .fa-shopping-cart {
    display: none;
  }
  .fa-shopping-cart {
    margin: 0;
    padding-right: 0;
    padding-left: 24px;
  }
  .mobile-icons {
    display: inline-flex;
  }
}
